
body{
    margin: 0px;
    background-image: url("img/img.jpeg")


}


div #header{
    background-color: blue;
    color: white;
    padding-top: 20px;
    padding-bottom: 10px;
    height: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    margin: 15px;
}

.section{
    background-color: #a9b7c6;
}

h3 {
    text-transform: uppercase;
    color: deeppink;

div.instructions{
    background-color: aquamarine;
}


.section{
    background-color: #FFFFFF;
    padding: 5px;
    margin-top: 20;
    margin-bottom: 10px;
}

.pork{
    background-image: url('img.jpeg');

}

a:link{
    color: green;
}

a:active{
    color: black;
}

a:hover{
    color: red;

}

a:visited{
    color: lightpink;

}

.boldtext{
    font-weight: bold;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.link{
    background-color: #6897bb;
}

